
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,300;1,400;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    min-height: 100vh;
   
    width: 100%;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.input{
    /* aremos que el font sea eredado */
    font-family: inherit;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2em;




}
/* clase formulario */
.formulario{
    background-color: aliceblue;
    width: 90%;
    /* como el body es flex se puede centrar altiro */
    margin: auto;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
}

.input-message{
    /* aremos que el font sea eredado */
    font-family: inherit;
    font-size: 1rem;
    padding: 1.8em 1em;
    resize: none;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2em;

}

/* daremos estilos a los input */
.formulariocontenedor{
    /* con el width y el grid ya se ordena solo */
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.texto{
    text-align: center;
    font-size: 1.9em;
    margin-bottom: 0.4em;
}

/* boton */
.enviar{
    font-family: inherit;
    background-color: #089fe0;
    Color: white;
    border: none;
    font-weight: 300;
    FONT-SIZE: 1rem;
    padding: .7EM 0em;
    border-radius: 0.2em;
    cursor: pointer;
    text-align: center;
}
/* css del wsp */

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

@media (max-width: 450px){
    .formulario{
        padding: 3.5em 1em;
    }
}